.container {
    h1.page-tite {
        margin-bottom: 20px;
    }

    .content-wrapper {
        .post.row,
        .posts.row {
            .date-sidebar {
                margin-top: 20px;
            }
        }
    }

    .content {
        .info.row {
            float: none;
        }
    }

    .date-sidebar {
        span {
            background-color: hsl(200, 85%, 35%);
            color: #fff;
            display: block;            
            padding: 6px 5px 7px 0;
            text-align: right;
        }
    }

    .text-body {
        span.label {
            clear: none;            
        }        

        .post-body {
            margin-bottom: 10px;
        }
    }

    .info, .navbar {
        h5 {
            margin-bottom: 3px;
        }
    }

    .contact-info {
        clear: right;
        display: block;
        float: left;
        margin-bottom: 0px;        

        li {
            list-style: none;
            float: left;
            clear: none;

            i {
                font-size: 16px;
            }
        }
    }

    .side-nav {
        float: left;
        clear: left;
    }

    footer {
        margin-top: 20px;
    }
}