<div class="post row">
    <div class="two columns">
      <span>{{ page.date | date_to_string }}</span> &raquo; 
    </div>
    <div class="ten columns">
      <h2><a href="{{ BASE_PATH }}{{ post.url }}">{{ page.title }}</a></h2>
      <div class="twelve.columns">        
        {{ content }}
      </div>
    </div>
</div>
<div class="comments row">
  {% include JB/comments %}
</div>

<div class="pagination row">
    <ul>
    {% if page.previous %}
      <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
    {% else %}
      <li class="prev disabled"><a>&larr; Previous</a></li>
    {% endif %}
      <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
    {% if page.next %}
      <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
    {% else %}
      <li class="next disabled"><a>Next &rarr;</a>
    {% endif %}
    </ul>
</div>  


<footer>
  <h4>Published</h4>
  <div class="date"><span>{{ page.date | date_to_long_string }}</span></div>

{% unless page.tags == empty %}
  <h4>Tags</h4>
  <ul class="tag_box">
  {% assign tags_list = page.tags %}
  {% include JB/tags_list %}
  </ul>
{% endunless %}  
</footer>